body, html, form {
    background-color: rgba(85, 106, 221, 0.877);
    color: white;
    font-family: 'Merriweather', cursive;
    font-weight: 30px;
}
::placeholder{
    color: rgb(120,120,120);
}
.oculto{
    display: none;
}

input {
    border: 2px solid rgb(230, 156, 21);
}

.error {
    border: 4px solid red;
}
